.catalog-edit {
  position: relative;
  background: #f2f2f2;
  padding: 0 20px;
  padding-top: 20px;
  padding-bottom: 41px;

  &::after {
    content: '';
    position: absolute;
    bottom: 200px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #283645;
    opacity: 0.1;
  }
}

.catalog-edit__image-big {
  width: 100%;
}

.catalog-edit__list {
  .indents-null();
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 37px;
  padding-bottom: 39px;
  margin-left: -46px;
}

.catalog-edit__item {
  margin-left: 35px;
}

.catalog-edit__item-icon {
  fill: rgba(40, 54, 69, 0.3);
}

.catalog-edit__item-icon--active {
  fill: #D22856;
}

.catalog-edit__item-icon:hover,
.catalog-edit__item-icon:focus {
  outline: none;
  fill: #283645;
  opacity: 0.5;
}

.catalog-edit__range {
  position: relative;
  width: 240px;
  height: 2px;
  background-color: #283645;
  margin: 0 auto;
  margin-bottom: 71px;
}

.catalog-edit__range--dontmobile {
  display: none;
}

.catalog-edit__range-point {
  position: absolute;
  top: -6px;
  left: 80%;
  width: 14px;
  height: 14px;
  background: #FFFFFF;
  border: 2px solid #D22856;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}

.catalog-edit__button-submit {
  width: 280px;
  display: block;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #D22856;
  margin: 0 auto;
  background-color: transparent;
  border: 3px solid #D22856;
  border-radius: 30px;
  padding: 15px 0;
  cursor: pointer;
  margin-bottom: 12px;

  &:hover,
  &:focus {
    outline: none;
    background-color: #D22856;
    color: white;
  }

  &:active {
    background-color: #D22856;
    color: rgba(255, 255, 255, 0.3);
  }
}

.catalog-edit__button-cancel {
  width: 280px;
  display: block;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #283645;
  margin: 0 auto;
  background-color: transparent;
  border: 3px solid #283645;
  border-radius: 30px;
  padding: 15px 0;
  cursor: pointer;
  opacity: 0.1;

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.3;
  }

  &:active {
    background-color: #283645;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .catalog-edit__range--dontmobile {
    display: block;
  }

  .catalog-edit {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .catalog-edit__list {
    width: 10%;
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: start;
    margin-left: 10px;
  }

  .catalog-edit__range {
    width: 40%;
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: inherit;
  }

  .catalog-edit__button-submit {
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: end;
  }

  .catalog-edit__button-cancel {
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: end;
  }
}
