.catalog-photo {

}

.catalog-photo__list {
  .indents-null();
  list-style: none;
}

.catalog-photo__item {

}

.catalog-photo__item-image--ponoram {
  width: 100%;
}

.catalog-photo__item-heading {
  .indents-null();
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

.catalog-photo__item-time {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
}

.catalog-photo__wrapper-background {
  padding: 0 20px;
}

.catalog-photo__item-image {
  width: 100%;
}

.catalog-photo__wrapper-text {
  background: #F2F2F2;
  padding: 25px 10px 0px 17px;
}

.catalog-photo__item-description {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.catalog-photo__item-likes {
  position: relative;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #D22856;
  padding-bottom: 26px;
  padding-left: 40px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 13px;
    height: 12px;
    background: url("../img/heart.svg");
    cursor: pointer;
  }
}

.catalog-photo__heading-bottom {
  width: 265px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
  margin-top: 49px;
  margin-bottom: 52px;
}
