.catalog-photo__list {
  .indents-null();
  list-style: none;
}

.catalog-photo__item {
  margin-bottom: 19px;
}

.catalog-photo__img {
  display: block;
  width: 100%;
}

.catalog-photo__item--ponoram {
  position: relative;

  &::before {
    content: "Панорама дня";
    position: absolute;
    top: 0;
    right: 22px;
    width: 140px;
    height: 36px;
    color: white;
    font-size: 12px;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    background-color: #d22856;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.catalog-photo__item-image--ponoram {
  width: 100%;
}

.catalog-photo__item-heading {
  .indents-null();
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 6px;
}

.catalog-photo__item-time {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  margin-left: 4px;
  text-transform: uppercase;
}

.catalog-photo__wrapper-background {
  padding: 0 20px;
}

.catalog-photo__item-image {
  width: 100%;
}

.catalog-photo__wrapper-text {
  background: #f2f2f2;
  padding: 17px 10px 0 17px;
}

.catalog-photo__item-description {
  .indents-null();
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 5px;
}

.catalog-photo__item-likes {
  position: relative;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #d22856;
  padding-bottom: 22px;
  padding-left: 33px;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 1px;
    width: 13px;
    height: 12px;
    background: url("../img/heart.svg");
    cursor: pointer;
  }
}

.catalog-photo__item-likes--ponoram-tablet {
  display: none;
}

.catalog-photo__heading-bottom {
  width: 265px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
  margin-top: 44px;
  margin-bottom: 44px;
}

@media (min-width: @tablet-width) {
  .catalog-photo__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 20px;
    gap: 20px;
  }

  .catalog-photo__item {
    margin-bottom: 0;
  }

  .catalog-photo__item--width {
    width: 300px;
  }

  .catalog-photo__item--ponoram {
    &::before {
      top: 57px;
      right: 22px;
    }
  }

  .catalog-photo__item-likes--panoram {
    display: none;
  }

  .catalog-photo__item-likes--ponoram-tablet {
    .indents-null();
    display: block;

    &::before {
      left: 106px;
    }
  }

  .catalog-photo__item-likes {
    padding-left: 0;

    &::before {
      left: 228px;
    }
  }

  .catalog-photo__item-heading {
    padding-bottom: 6px;
  }

  .catalog-photo__wrapper-ponoram-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
  }

  .catalog-photo__item-description--indent {
    padding-bottom: 30px;
  }

  .catalog-photo__wrapper-background {
    padding: 0;
  }

  .catalog-photo__wrapper-text {
    padding: 21px 10px 0 30px;
  }

  .catalog-photo__wrapper-text--panoram {
    width: 580px;
    margin: 0 auto;
    padding: 22px 10px 19px 30px;
    margin-bottom: 52px;
  }

  .catalog-photo__item-text-padding {
    display: none;
  }

  .catalog-photo__heading-bottom {
    width: 422px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-photo__list {
    .indents-null();
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  .catalog-photo__item-image--ponoram {
    width: 100vw;
  }

  .catalog-photo__item:not(:first-child) {
    width: 75%;
  }

  .catalog-photo__wrapper-text--panoram {
    width: 900px;
    margin: 0 auto;
  }

  .catalog-photo__item-likes::before {
    left: 0;
    right: 0;
  }
}
