.catalog-edit {
  position: relative;
  background: #f2f2f2;
  padding: 17px 20px 41px;

  &::after {
    content: "";
    position: absolute;
    bottom: 200px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #283645;
    opacity: 0.1;
  }
}

.catalog-edit__image-big {
  width: 100%;
}

.catalog-edit__img {
  width: 100%;
}

.catalog-edit__list {
  .indents-null();
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 37px;
  padding-bottom: 39px;
  margin-left: -46px;
}

.catalog-edit__item {
  margin-left: 35px;
}

.catalog-edit__button {
  display: block;
}

.catalog-edit__item-icon {
  fill: rgba(40, 54, 69, 0.3);
}

.catalog-edit__button--active .catalog-edit__item-icon {
  fill: #d22856;
}

.catalog-edit__button:hover .catalog-edit__item-icon,
.catalog-edit__button:focus .catalog-edit__item-icon {
  outline: none;
  fill: rgba(40, 54, 69, 0.5);
}

.catalog-edit__range {
  position: relative;
  width: 240px;
  height: 2px;
  background-color: #283645;
  margin: 0 auto;
  margin-bottom: 71px;
  display: none;
}

.catalog-edit__range--dontmobile {
  display: none;
}

.catalog-edit__range--active {
  display: block;
}

.catalog-edit__range-point {
  position: absolute;
  top: -6px;
  left: 80%;
  width: 14px;
  height: 14px;
  background: #ffffff;
  border: 2px solid #d22856;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}

.catalog-edit__button-submit {
  width: 280px;
  display: block;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #d22856;
  margin: 0 auto;
  background-color: transparent;
  border: 3px solid #d22856;
  border-radius: 30px;
  padding: 15px 0;
  cursor: pointer;
  margin-bottom: 12px;

  &:hover,
  &:focus {
    outline: none;
    background-color: #d22856;
    color: white;
  }

  &:active {
    background-color: #d22856;
    color: rgba(255, 255, 255, 0.3);
  }
}

.catalog-edit__button-cancel {
  width: 280px;
  display: block;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #283645;
  margin: 0 auto;
  background-color: transparent;
  border: 3px solid #283645;
  border-radius: 30px;
  padding: 15px 0;
  cursor: pointer;
  opacity: 0.1;

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.3;
  }

  &:active {
    background-color: #283645;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .catalog-edit__list {
    display: none;
  }

  .catalog-edit__range {
    display: block;
    position: relative;
    width: 202px;
    margin-top: 19px;
    margin-left: 80px;
    margin-right: 0;
    margin-bottom: 70px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 22px;
      height: 22px;
      left: -50px;
      top: -9px;
      background-size: cover;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 271px;
      height: 1px;
      left: -53px;
      bottom: -36px;
      border-top: 1px solid rgba(40, 54, 69, 0.1);
    }
  }

  .catalog-edit__wrapper-button {
    padding-top: 31px;
    padding-left: 20px;
  }

  .catalog-edit__button-submit {
    width: 260px;
    margin: 0 auto 23px;
  }

  .catalog-edit__button-cancel {
    width: 260px;
    margin: 0 auto 23px;
  }

  .catalog-edit::after {
    display: none;
  }

  .catalog-edit__range--crop::before {
    background-image: url("../img/crop.svg");
  }

  .catalog-edit__range--fill::before {
    background-image: url("../img/fill.svg");
    width: 24px;
    height: 22px;
  }

  .catalog-edit__range--contrast::before {
    background-image: url("../img/contrast.svg");
    width: 16px;
    height: 16px;
  }

  .catalog-edit {
    padding: 0;
  }

  .catalog-edit__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 56px 0 30px;
    gap: 20px;
    width: 620px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

@media (min-width: @desktop-width) {
  .catalog-edit {
    background-color: transparent;
    margin-bottom: 62px;
  }

  .catalog-edit__range {
    display: block;
    position: relative;
    width: 290px;
    margin: 19px 0 70px 80px;

    &::before {
      width: 44px;
      height: 44px;
      left: -89px;
      top: -17px;
    }

    &::after {
      width: 405px;
      left: -87px;
      bottom: -39px;
    }
  }

  .catalog-edit__wrapper-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-top: 110px;
    padding-left: 0;
    margin-left: -37px;
  }

  .catalog-edit__container {
    display: grid;
    padding: 56px 0 34px;
    gap: 20px;
    width: 940px;
    margin: 0 auto;
    box-sizing: border-box;
    background: #f2f2f2;
  }

  .catalog-edit__button-submit {
    width: 183px;
    margin: 0 auto 23px;
  }

  .catalog-edit__button-cancel {
    width: 183px;
    margin: 0 auto 23px;
  }

  .catalog-edit__img-container {
    padding-left: 80px;
    padding-right: 80px;
  }

  .catalog-edit__range--fill::before {
    width: 48px;
    height: 43px;
  }

  .catalog-edit__range--contrast::before {
    width: 32px;
    height: 32px;
  }

  .catalog-edit__range-point--second {
    left: 13%;
  }

  .catalog-edit__range-point--third {
    left: 48%;
  }
}
