.checkbox__label {
  display: block;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color:  #283645;
  margin-bottom: 62px;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    top: -9px;
    left: 0;
    background: #FFFFFF;
    border: 2px solid #E5E5E5;
    border-radius: 1px;
  }

  &::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 11px;
    top: 0;
    left: 9px;
    background: transparent;
    border-left: 2px solid #D22856;
    border-bottom: 2px solid #D22856;
    transform: rotate(-42deg);
    display: none;
  }
}

.checkbox__label:nth-child(6) {
  margin-bottom: 50px;
}

.checkbox__input:hover + .checkbox__label::before {
  border-color: #283645;
}

.checkbox__input:focus + .checkbox__label::before {
  outline: none;
}

.checkbox__input:active + .checkbox__label::before {
  border-color: #D22856;
}

.checkbox__input:checked + .checkbox__label::after {
  display: block;
}

.checkbox__label-text {
  margin-left: 60px;
}

@media (min-width: @tablet-width) {
  .checkbox__label {
    margin-left: 48px;

    &::before {
      left: -9px;
    }

    &::after {
      left: 0;
    }
  }

  .checkbox__label-text {
    margin-left: 50px;
  }
}
