.contacts__heading {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #283645;
}

.contacts__list {
  .indents-null();
  list-style: none;
}

.contacts__item-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.contacts__item-link {
  display: block;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-decoration: none;
  color: #D22856;
}
