.footer__logo {
  padding-top: 36px;
  padding-bottom: 34px;
  display: block;
  text-align: center;
}

.footer__list-social {
  .indents-null();
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 44px -8px;
}

.footer__item-social {
  margin-left: 7px;
}

.footer__link-social {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;

  &:hover,
  &:focus {
    outline: none;
    border: 3px solid #283645;
  }

  &:active {
    opacity: 0.2;
  }
}

.footer__icon-social {
  fill: #d22856;
}

.footer__develops-description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  color: #283645;
  padding: 0;
  margin: 0;
}

.footer__develops-link {
  width: 32px;
  height: 34px;
  margin-left: 9px;
  margin-top: -4px;
}

.footer__develops-link-icon {
  width: 40px;
  height: 40px;
  fill: #d22856;

  &:hover,
  &:focus {
    outline: none;
    fill: #283645;
  }

  &:active {
    fill: #283645;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer__logo {
    padding-top: 33px;
  }

  .footer__list-social {
    margin-bottom: 0;
    margin-left: -20px;
  }

  .footer__develops-description {
    margin-right: 3px;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    margin: 0 auto;
    width: 943px;
  }

  .footer__develops-description {
    font-size: 18px;
    margin-right: 0;
    margin-top: 22px;
  }

  .footer__list-social {
    margin-left: 0;
    margin-top: 12px;
  }
}
