.form-order__heading {
  .indents-null();
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin-top: 54px;
  margin-bottom: 55px;
}

.form-order__fieldset-text {
  border: none;
}

.form-order__label-text {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #D22856;
  margin-bottom: 14px;
}

.form-order__input-text {
  width: 100%;
  padding: 20px 0 20px 20px;
  margin-bottom: 29px;
  border: 2px solid #E5E5E5;
  border-radius: 1px;
}

.form-order__heading-checkbox {
  .indents-null();
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #D22856;
  text-align: center;
  margin-bottom: 51px;
}

.form-order__group-checkbox {
  padding: 0 20px;
  padding-top: 42px;
  padding-bottom: 20px;
  background: #F2F2F2;
}

.form-order__group--contacts {
  padding-top: 42px;
  padding-bottom: 44px;
}

.form-order__label-text-contacts {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #D22856;
  margin-bottom: 17px;
  margin-left: 25px;
}

.form-order__input-text-contacts {
  width: 100%;
  padding: 20px 0 20px 20px;
  margin-bottom: 29px;
  border: 2px solid #E5E5E5;
  border-radius: 1px;
}

.form-order__group--radio {
  background: #F2F2F2;
  padding-top: 42px;
  padding-bottom: 54px;
}

.form-order__heading-radio {
  .indents-null();
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #D22856;
  text-align: center;
  margin-bottom: 52px;
}

.form-order__group--textarea {
  padding-top: 42px;
}

.form-order__heading-textarea {
  .indents-null();
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #D22856;
  margin-bottom: 22px;
  text-align: center;
}
