.header {
  padding-top: 23px;
  position: relative;
  z-index: 100;
}

.header__logo {
  margin-left: 22px;
}

.header__logo-image {
  &:hover {
    color: #d22856;
  }

  &:active {
    fill: white;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .header {
    padding-top: 27px;
  }

  .header__logo {
    padding-bottom: 20px;
  }
}

@media (min-width: @desktop-width) {
  .header {
    padding-top: 0;
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    width: 940px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      width: calc(100vw - 20px);
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 1;
    }
  }

  .header__wrapper {
    padding: 0;
    margin: 0;
  }

  .header__logo {
    position: relative;
    z-index: 10;
    padding: 0;
    margin: 27px 0 0;
  }
}
