.information {
  position: relative;
  padding-top: 13px;
  background-color: #f2f2f2;
  margin-top: 65px;

  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    width: 100%;
    height: 30px;
    background: linear-gradient(to top left, #f2f2f2 50%, rgba(255, 0, 0, 0) 52%);
  }
}

.information__wrapper {
  padding-top: 18px;
}

.information__list {
  .indents-null();
  position: relative;
  list-style: none;
  text-align: center;
  padding-bottom: 306px;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    bottom: -43px;
    left: 50%;
    width: 158px;
    height: 320px;
    background: url("../img/iphone-3.png") no-repeat;
    transform: translateX(-50%);

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-3@2x.png");
    }
  }
}

.information__item-heading {
  .indents-null();
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  color: black;
  padding-top: 21px;
  padding-bottom: 14px;
}

.information__item-description {
  .indents-null();
  width: 280px;
  margin: 0 auto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  padding-bottom: 12px;
}


.information__image {
  display: block;
  margin: 0 auto;
}


@media (min-width: @tablet-width) {
  .information {
    position: relative;
    margin: 0;

    &::before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-100%);
      width: 100%;
      height: 53px;
      background: linear-gradient(to top left, #f2f2f2 50%, rgba(255, 0, 0, 0) 52%);
    }
  }

  .information__wrapper {
    padding-top: 9px;
    width: 629px;
    margin: 0 auto;
    position: relative;
    min-height: 411px;

    &::after {
      content: "";
      position: absolute;
      bottom: -66px;
      left: 5px;
      width: 268px;
      height: 547px;
      background: url("../img/iphone-information-tablet.png") no-repeat;
      background-size: 100%;
      z-index: 1;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iphone-information-tablet@2x.png");
      }
    }
  }

  .information__list {
    padding-bottom: 0;
    width: 100%;
    text-align: left;
    padding-left: 315px;
    box-sizing: border-box;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .information__item-heading {
    .indents-null();
    padding-bottom: 15px;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
  }

  .information__item-description {
    padding: 0;
    margin: 0;
    width: 315px;
    padding-bottom: 36px;
  }

  .information__item-description--effect {
    width: 325px;
  }
}

@media (min-width: @desktop-width) {
  .information {
    &::before {
      height: 107px;
    }
  }

  .information__wrapper {
    width: 960px;
    margin-top: -114px;
    padding-top: 0;

    &::after {
      display: none;
    }
  }

  .information__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 0;
  }

  .information__item {
    padding-top: 357px;
    text-align: center;
    position: relative;
  }

  .information__item--first {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 64px;
      width: 186px;
      height: 300px;
      background-image: url("../img/information-item-first.png");
    }
  }

  .information__item--second {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 64px;
      width: 186px;
      height: 300px;
      background-image: url("../img/information-item-second.png");
    }
  }

  .information__item--third {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 67px;
      width: 186px;
      height: 300px;
      background-image: url("../img/information-item-third.png");
    }
  }

  .information__item-heading {
    .indents-null();
    margin: 0 auto 21px;
    width: 227px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
  }

  .information__item-description {
    width: 249px;
    font-size: 18px;
    margin: 0 auto;
    line-height: 30px;
  }
}
