.information {
  background-color: #F2F2F2;
}

.information__list {
  .indents-null();
  list-style: none;
  text-align: center;
}

.information__item-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: black;
  padding-top: 39px;
}

.information__item-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  padding-bottom: 23px;
}


.information__image {
  display: block;
  margin: 0 auto;
}
