.intro {
  padding: 0 20px;
  background-image: url("../img/back-mobile.jpg");
}

.intro__heading {
  .indents-null();
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
}

.intro__button {
  display: block;
  margin: 0 auto;
  width: 280px;
  font-weight: bold;
  font-size: 18px;
  color: white;
  border: 3px solid white;
  border-radius: 29px;
  background-color: transparent;
  padding-top: 21px;
  padding-bottom: 21px;
  margin-bottom: 35px;
  cursor: pointer;
}

.intro__list {
  .indents-null();
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.intro__item {
  margin-left: 35px;
}

.intro__description {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: white;
  text-align: center;
}
