.navigation {
  background-color: #283645;
}

.navigation--closed {
  background-color: rgba(0, 0, 0, 0.3);
}

.navigation__nav {
  padding-top: 20px;
  position: relative;
  z-index: 10;
}

.navigation__toggle {
  position: absolute;
  top: -27px;
  right: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  fill: white;
  display: none;
}

.navigation__toggle:hover .navigation__toggle-svg {
  outline: none;
  fill: #d22856;
}

.navigation__toggle:active .navigation__toggle-svg {
  outline: none;
}

.navigation--v .navigation__toggle {
  display: block;
}

.navigation--v .navigation__toggle-menu {
  display: none;
}

.navigation--closed .navigation__toggle-menu {
  display: block;
}

.navigation--closed .navigation__toggle-cross {
  display: none;
}

.navigation__list {
  .indents-null();
  list-style: none;
  border-top: 1px solid black;
}

.navigation--closed .navigation__list {
  display: none;
}

.navigation__item {
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
}

.navigation__link {
  padding-top: 21px;
  padding-bottom: 21px;
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: #d22856;
  }

  &:active {
    color: white;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .navigation__nav {
    padding-top: 39px;
  }

  .navigation__toggle {
    top: -28px;
    right: 16px;
  }
}

@media (min-width: @desktop-width) {
  .navigation--closed {
    background-color: transparent;
  }

  .navigation__nav {
    padding: 44px 0 20px 59px;
    margin-left: auto;
  }

  .navigation__list {
    display: flex;
    border: none;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .navigation__item {
    border: none;
    margin-left: 79px;
    margin-bottom: 14px;
  }

  .navigation__link {
    font-family: "Open Sans", "Arial", sans-serif;
    text-transform: none;
    font-weight: normal;
    padding: 0;
  }

  .navigation--v .navigation__toggle {
    display: none;
  }

  .navigation--closed .navigation__list {
    display: flex;
  }
}
