.navigation {
  padding-top: 20px;
}

.navigation__toggle {
  position: absolute;
  top: 23px;
  right: 21px;
  width: 23px;
  height: 23px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  fill: white;

  &:hover,
  &:focus {
    outline: none;
    fill: #D22856;
  }

  &:active {
    outline: none;
  }
}

.navigation__list {
  .indents-null();
  list-style: none;
  border-top: 1px solid black;
}

.navigation__item {
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
}

.navigation__link {
  padding-top: 25px;
  padding-bottom: 25px;
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: #D22856;
  }

  &:active {
    color: white;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {
  .navigation {
    padding: 0;
    margin-left: 200px;
  }

  .navigation__list {
    display: flex;
    border: none;
  }

  .navigation__item {
    border: none;
    margin-left: 50px;
  }

  .navigation__toggle {
    display: none;
  }
}
