.price-slider {
  .indents-null();
  list-style: none;
  width: 100%;
}

.price-slider__item {
  background-color: white;
  border: 2px solid #e5e5e5;
  border-radius: 1px 0 0 0;
  padding: 18px 0 24px 21px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: #283645;
}

.price-slider__item-main {
  background-color: #283645;
  border-left: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
}

.price-slider__item-main--hit {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: -7px;
    left: -8px;
    width: 74px;
    height: 74px;
    background: url("../img/hitribbon.svg") no-repeat;
  }
}

.price-slider__item-heading {
  padding: 0;
  margin: 0;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 2px;
}

.price-slider__item-description {
  .indents-null();
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: white;
  text-align: center;
  padding-bottom: 33px;
}

.price-slider__text {
  .indents-null();
}

.price-slider__item--yes {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 31px;
    height: 21px;
    top: 17px;
    right: 17px;
    background-image: url("../img/yes.svg");
  }
}

.price-slider__item--no {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 27px;
    top: 13px;
    right: 18px;
    background-image: url("../img/no.svg");
  }
}

@media (min-width: @tablet-width) {
  .price-slider {
    width: 157px;
  }

  .price-slider__item-description {
    padding-bottom: 14px;
  }

  .price-slider__item--yes {
    &::after {
      top: 10px;
      right: 60px;
    }
  }

  .price-slider__item--no {
    &::after {
      top: 9px;
      right: 62px;
    }
  }

  .price-slider__points-list {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .price__item {
    width: 155px;
  }

  .price__wrapper {
    margin: 0 auto;
    transform: translateX(27%);
  }
}
