.price__list {
  .indents-null();
  width: calc((100vw - 40px) * 3);
  margin-left: calc((100vw - 40px) * -1 + 20px);
  transition: all 1s;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.price__item {
  width: calc(100vw - 40px);
}


@media (min-width: @tablet-width) {
  .price {
    padding-bottom: 71px;
  }

  .price__wrapper {
    padding-left: 20px;
    display: flex;
  }

  .price-slider__text {
    display: none;
  }

  .price__list {
    margin: 0;
  }

  .price__item {
    width: 152px;
  }
}

@media (min-width: @desktop-width) {
  .price__item {
    width: 233px;
  }
}
