.radio__label {
  display: block;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #283645;
  text-align: center;
  margin-bottom: 56px;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: -9px;
    left: 0;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #E5E5E5;
  }

  &::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 13px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #D22856;
    display: none;
  }
}

.radio__label-text {
  margin-left: -6px;
}

.radio__label-text--first {
   margin-left: -36px;
}

.radio__input:hover + .radio__label::before {
  border-color: #283645;
}

.radio__input:focus + .radio__label::before {
  outline: none;
}

.radio__input:active + .radio__label::before {
  border-color: #D22856;
}

.radio__input:checked + .radio__label::after {
  display: block;
}


@media (min-width: @tablet-width) {
  .radio__label {
    text-align: left;
    margin-bottom: 57px;
    margin-left: 107px;

    &::before {
      left: -67px;
      top: -12px;
    }

    &::after {
      left: -54px;
      top: 1px;
    }
  }

  .radio__label-text--first {
    margin-left: -6px;
  }
}

@media (min-width: @desktop-width) {
  .radio__label {
    &::before {
      left: -35px;
    }

    &::after {
      left: -22px;
    }
  }

  .radio__label-text--first {
    margin-left: 26px;
  }

  .radio__label-text {
    margin-left: 26px;
  }
}
