.slider {
  padding-top: 45px;
}

.slider__list {
  .indents-null();
  list-style: none;
  text-align: center;
}

.slider__item {
  display: none;
}

.slider__item--active {
  display: block;
}

.slider__item-heading {
  .indents-null();
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  padding-bottom: 20px;
}

.slider__item-description {
  .indents-null();
  width: 280px;
  margin: 0 auto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  padding: 0 0 27px;
}

.slider__list-point {
  margin-bottom: 52px;
}

@media (min-width: @tablet-width) {
  .slider {
    padding: 0 20px;
    padding-top: 18px;
  }

  .slider__item--active {
    display: flex;
    flex-direction: column-reverse;
  }

  .slider__item-heading {
    position: relative;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 20px;

    &::after {
      content: "25 лет, водитель трамвая";
      position: absolute;
      width: 174px;
      height: 10px;
      top: 28px;
      left: 224px;
      font-family: "Open Sans", "Arial", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
    }
  }

  .slider__item-description {
    width: 620px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 35px;
  }

  .slider__list-point {
    margin-top: 45px;
    margin-bottom: 54px;
  }
}

@media (min-width: @desktop-width) {
  .slider {

    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -100px;
      left: 50%;
      width: 79px;
      height: 63px;
      background-image: url("../img/quotes.png");
      transform: translateX(-50%);
    }
  }

  .slider__item-heading {
    font-size: 24px;

    &::after {
      width: 224px;
      font-size: 18px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .slider__item-description {
    width: 688px;
    margin: 0 auto;
  }
}
