.slider__list {
  .indents-null();
  list-style: none;
  text-align: center;
}

.slider__item-heading {
  .indents-null();
  font-weight: bold;
  font-size: 18px;
}

.slider__item-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}


.slider__list-point {
  .indents-null();
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__item-point {
  width: 6px;
  height: 6px;
  background-color: #283645;
  border-radius: 50%;
  margin-right: 19px;
  opacity: 0.3;
}

.slider__item-point--active {
  background-color: transparent;
  border: 3px solid #283645;
  opacity: 1;
}
