.slogans {
  padding-top: 42px;
}

.slogans__heading {
  padding: 0;
  margin: 0 0 33px 0;
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 24px;
  color: #283645;
  text-align: center;
}

.slogans__heading-second {
  padding: 0;
  margin: 0;
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 24px;
  color: #283645;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .slogans {
    padding-top: 46px;
    margin-bottom: 54px;
  }

  .slogans__heading {
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 54px;
    padding-bottom: 0;
    margin: 0;
  }

  .slogans__heading-second {
    .indents-null();
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 54px;
    width: 340px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
  }
}

@media (min-width: @desktop-width) {
  .slogans {
    padding-top: 63px;
    margin-bottom: 127px;
  }

  .slogans__heading {
    width: 780px;
    font-size: 50px;
    line-height: 68px;
    margin: 0 auto;
  }

  .slogans__heading-second {
    width: 720px;
    font-size: 50px;
    line-height: 68px;
  }
}
